#div1 {
    background-color: #e19302; 
    width: 500px; 
    height: 500px;
}

#div2 {
    background-color: #00ff00; 
    width: 50%; 
    height: 50%;
}

#p1 {
    color: white;
    background-color: #ff0000; 
    font-size: 25px; 
    font-family: monospace; 
    font-weight: bold;
}

#div3{
    width: 50%; 
    height: 50vh; 
    background-color: rgb(130, 200, 230);
}

#div4{

    width: 75vw; 
    height: 50%; 
    background-color: rgb(255, 0, 0);
}